
html, body, #root, .app {
  width: 100%;
  height: 100%;
  overflow: hidden;
  // background: black;
  padding: 0;
  margin: 0;
}

.app {
 
  font-family: monospace;

  button {
    font-family: monospace;
  }
  
  .hidden {
    visibility: hidden;
    opacity: 0;
  }

   position: absolute;
  inset: 0;

 .video, .canvas, .background {
    position: absolute;
  }
  .video {
    display: none;
  }

  .background {
   width: 100%;
   height: 100%;
   object-fit: cover; 
  }

  .camera { 
    width: 50%;
    height: 50%;
    overflow: hidden;

    &-canvas {
      width: 100%;
      height: 100%;

      object-fit: cover;
      transition:
        transform 1s cubic-bezier(0.19, 1, 0.22, 1),
        transform-origin 2s cubic-bezier(0.19, 1, 0.22, 1);   
    }
  }

  .controls {
    position: absolute;
    top: 0;
    right: 0;
  }
}