.camera {
  // position: absolute;
  // inset: 0;

  &-video {
    // display: none;
    height: 0;
  }

  &-start {
    position: absolute;
    left: 25%;
    top: 50%;
    transform: translate(-50%, -50%);
  }

  &-canvas {
    // opacity: .5;
    transform: scaleX(-1);
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 50%;
    object-fit: cover;

  }
}